.tabla-products{
    width: 96%;
    background-color: rgba(117, 173, 173, 0.9);
    margin: 2%;
    
}
.mat-header-cell{
    color: rgb(241, 244, 248);
    background-color: rgb(12, 247, 247);
}
a.mat-raised-button.mat-button-base.mat-warn{
    margin-top: 35px;
}
